<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


  </head>

  <body>
      <nav class="navbar mynav" role="navigation" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Tech Intrest Based Networking</a>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

              <li> <a href="{% url 'posts:create' %}">Post</a> </li>
              <li> <a href="{% url 'groups:all' %}">Groups</a> </li>
              <li> <a href="{% url 'groups:create' %}">Create Group</a> </li>
              <li> <a href="{% url 'accounts:logout' %}">Logout</a> </li>
            {% else %}
              <li> <a href="{% url 'groups:all' %}">Groups</a> </li>
              <li> <a href="{% url 'accounts:login' %}">LogIn</a> </li>
              <li> <a href="{% url 'accounts:signup' %}">SignUp</a> </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container mycontent">
        {% block content %}

        {% endblock %}
      </div>

  </body>

</html>
